{% extends 'basichead.html' %}

{% block content %}

        <form class="form" method="GET" action="search">
            License Plate:<input type="text" name="license_plate" placeholder="Enter the license plate number" 
            value='{{request.GET.license_plate}}'>
            Location:<select name="location" value="{{request.GET.location}}">
                    <option value="All">All</option>
                    {% if l_query %}
                        {% for l in l_query %}
                            <option value="{{l.location}}">{{ l.location }}</option>
                        {% endfor %}
                    {% endif %}</select> 
            Start Date:<input type="date" name="start_date" value="{{request.GET.start_date}}" >
            End Date:<input type="date" name="end_date" value="{{request.GET.end_date}}">
            <button type="submit">Submit</button><br>
            {% if info %}
            <b style="color: red;">{{ info }}</b>
            {% endif %}
        </form>
        <div>
            <table>
                <tr>
                    <th>License Plate</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                {% if s_query %}
                {% for s in s_query %}    
                <tr onclick="location.href='vehicle_details/{{s.id}}'">
                    <td>{{s.license_number}}</td>
                    <td>{{s.location}}</td>
                    <td>{{s.date}}</td>
                    <td>{{s.time}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
        
{% endblock %}    