{% extends 'basichead.html' %}

{% block content %}
{% if not u_name %}
        <div>
            <form class="form" method="POST" action="login_action">
                    {% csrf_token %}
                    Username:<input type="text" name="u_name" placeholder="Enter Username" required><br><br>
                    Password:<input type="password" name="p_word" placeholder="Enter Password" required>
                    <br><br><button type="submit">Login</button><br>
                    {% if fail %}
                    <b style="color: red;">{{ fail }}</b>
                    {% endif %}
            </form>
        </div>    
{% else %}
    <b style="color: green;">Already Logged-In!!!</b>
{% endif %}
{% endblock %}