body {
    margin: 0;
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background:  #00CED1;
    cursor: pointer
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc ;
}

th, td {
    padding: 1em;
    text-align: center;
}

.detail_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail_body img {
    width: 30%;
    height: 30%;
    margin: 3em
}

.header {
    background: #00CED1;
    display: flex;
    height: 4em;
    width: 100%;
}

.header a {
    color: #000;
    margin: 1em;
    text-decoration: none;
    font-size: larger;
}